.admin-edit-label{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.admin-edit-label input{
    height: 72px;
    width: 350px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.admin-edit-label button{
    width: 350px;
    height: 72px;
    color: white;
    background: red;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}